[DATABASE]
DATABASE_ENGINE = django.db.backends.mysql
DATABASE_HOST = 34.87.160.181
DATABASE_NAME = rms_context_db
DATABASE_USER = root
DATABASE_PASSWORD = p@ssw0rd
DATABASE_PORT = 3306

[APPLICATION]
DEBUG = False
SECRET_KEY = +x5)i%%ich2uqn9^y0scn$j&9znzh7&bpj9!yw)7js5d4hb@m(
SESSION_TIMEOUT = 3600